
  <!-- <label>
    <span>Full name</span>
    <input
      type="text"
      placeholder="Your full name"
      formControlName="name">
  </label>
  <div formGroupName="account">
    <label>
      <span>Email address</span>
      <input
        type="email" 
        class="form-control input-md"
        placeholder="Your email address"
        formControlName="email">
    </label>
    <label>
      <span>Confirm address</span>
      <input
        type="email"
        placeholder="Confirm your email address"
        formControlName="confirm">
    </label>
  </div> -->
  <!-- <form [formGroup]="user" (ngSubmit)="onSubmit()">
  <button type="submit">Sign up</button>
</form> -->
Signupform